{% include 'layout/header.twig' %}
{% include 'layout/navigation.twig' with {'active': 'login'} %}

<div class="container adminFont">
    {% include 'admin/_menue.twig' with {'active': 'i18n'} %}
    <form action="/admin/i18n" method="post">
        <input type="hidden" name="action" value="save"/>
        <div class="row">
            <div class="col-md-3">
                <div class="btn-group-vertical">
                    {% for key,value in tplTranslationList %}
                        <a id="{{ loop.index }}" type="button" class="btn btn-default tpage"
                           style="text-align: left; padding: 15px; ">
                            <b>{{ key }}</b>
                            <br/>
                            <div>
                                Status:
                                {{ value.p_green }}%
                                {% spaceless %}
                                    {% for i in 0..value.p_green if value.p_green %}
                                        <img src="/images/admin/progressbar_green.png">
                                    {% endfor %}
                                    {% for i in 0..value.p_red if value.p_red %}
                                        <img src="/images/admin/progressbar_red.png">
                                    {% endfor %}
                                {% endspaceless %}
                            </div>
                        </a>
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-9">
                {% for value in tplTranslationList %}
                    <table class="table table-bordered tvalue" id="{{ loop.index }}values" style="display: none;">
                        <thead>
                        <tr class="info">
                            <th width="10%"><b>##admin_translation_line##</b></th>
                            <th width="30%"><b>##admin_translation_key##</b></th>
                            <th width="60%"><b>##admin_translation_value##</b></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for subValue in value.data %}
                            <tr>
                                <td>{{ subValue.line }}</td>
                                <td>{{ subValue.ukey }}</td>
                                <td style="padding: 3px;">
                                    {% if subValue.ukey|slice(-4,4) == 'text' %}
                                        <textarea name="ukey_{{ subValue.ukey }}" cols="70" rows="4"
                                                  style="width: 580px;">{{ subValue.translation }}</textarea>
                                    {% else %}
                                        <input name="ukey_{{ subValue.ukey }}" size="70"
                                               value="{{ subValue.translation }}" style="width: 580px;"/>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        <tr class="info">
                            <td colspan="3" align="right"><input type="submit" value="save"/></td>
                        </tr>
                        </tbody>
                    </table>
                {% endfor %}
            </div>
    </form>
</div>

{% include 'layout/bottom.twig' %}